{% extends "master.html" %}
{% block title %}
About Us 
{% endblock %}
{% block content %}
{% include 'nav.html' %}

<style>
    h1 { 
        font-size: 25px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h2 {
        font-size: 20px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p {
        font-size: 18px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

</style>

<h1> About Us </h1>

<h2> Why create a site for this? </h2>
<p> This website was created after a class that I took in undergrad that discussed hip-hop and the intersectionality
    of hip-hop as a whole, specifically female artists and the undertones of feminism in hip hop (the class was quite literally hip hop feminism).
    The final exam was whatever we chose and I chose to write an essay and create a playlist to discuss
    the demise of a specific artist over the years who after sometime in the spotlight, you could see her mental and music decline. 
    My professor said I did really well and that the writing would fit into some form of column. For a moment I was so excited that I did 
    well but then I thought to myself, I could just make a new platform for these types of subjects. One where people can write what they think 
    about any music and review any music. So I just did it, hope you all enjoy! 
</p>

<h2> Music isn't that deep, why would I review it? </h2>
<p> Music <bold>can</bold> be that deep. The right artist and the right song provokes a movement in people and it should be better showcased.
    With moderation and user customization, it could be greatly achieved. Stan culture has made people feel like they can't enjoy various artists.
    I would like that to change, take the time to discover something for free and listen to music that you'd never listened to before. 
</p>

{% endblock %}