{% extends "master.html" %}

{% block title %}
The Experience Home
{% endblock %}

{% block content %}
{% include "nav.html" %}
<h1 class="welcomeText"> Welcome to The Experience</h1>
<div class="textDiv">
    <p class="experienceBlurb">Have you ever wanted to experience music differently? Well check out The Expereince, the new HOT way to discover music. 
    </p>

    <p>
        Read an article about an artists music or read a review of a new song. 
    </p>

    <p class="experienceText">
        Experience music in a new way.
    </p>

</div>

<h2 class="checkOut">Check out some HOT new articles</h2>

{% endblock %}