{% extends "master.html" %}

{% block title %}
The Experience Home
{% endblock %}

{% block content %}
{% include "nav.html" %}
<style>
    

</style>
<h1 class="welcomeText"> Welcome to The Experience</h1>
<div class="textDiv">
    <p class="experienceBlurb">Have you ever wanted to experience music differently? Well check out The Expereince, the new HOT way to discover music. 
    </p>

    <p>
        Read an article about an artists music or read a review of a new song. 
    </p>

    <p class="experienceText">
        Experience music in a new way.
    </p>

    

</div>
<div class="row">
    {% if user.is_authenticated %}
    <center><h1> Welcome Back! {{user.username}}!</h1></center>
    <p> Check out these articles that we think you'll like!</p>
    
    {% endif %}
</div>

<h2 class="checkOut">Check out some HOT new articles</h2>
<div class="articleGrid">
    <div class="articleCard">
        {% load static %}
        <img src="{% static 'mariahStockPhoto.jpg' %}" alt="MariahStockPhoto" style="width:30%">
        <h1>Why Mariah Carey has been characterized as one of musics greatest divas</h1>
        <p> In this article ...</p>
    </div>

    <div class="articleCard">
        <img src="{% static 'britneyStockPhoto.jpg' %}" alt="BritneyStockPhoto" style="width:30%">
        <h1>The fall of a pop princess: How a Conversatorship killed her career</h1>
        <p> This article will ...</p>
    </div>

</div>

<div class="reviewGrid">
    <div class="reviewCard">

    </div>
</div>

<!-- Add creator button here with link 
 implement the creator database table -->
<div class="creatorButton">
    <p> Want to create your own articles?</p>
    <button> Click Here! </button>
</div>


{% endblock %}