{% extends "master.html" %}

{% block title %}
The Experience Home
{% endblock %}

{% block content %}
{% include "nav.html" %}
<style>
    .creatorButton a {
        text-decoration: none;
        color: black;
    }

     .fa-star {
        color: lightgray;
    }

    .checked {
        color: #9c0cb4;
    }

    .reviewGrid {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 10px;
        justify-content: center;
    }

    .reviewCard {
        border-radius: 12px;
        padding: 20px;
        background: #ff8fab;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        transition: all .2s ease;
       
    }

    .reviewCard:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .reviewCard h3 {
        margin-bottom: 8px;
        font-size: 20px;
    }

    .reviewCard p {
        color: black;
    }



</style>
<h1 class="welcomeText"> Welcome to The Experience</h1>
<div class="textDiv">
    <p class="experienceBlurb">Have you ever wanted to experience music differently? Well check out The Expereince, the new HOT way to discover music. 
    </p>

    <p>
        Read an article about an artists music or read a review of a new song. 
    </p>

    <p class="experienceText">
        Experience music in a new way.
    </p>

    

</div>
<div class="row">
    {% if user.is_authenticated %}
    <center><h1> Welcome Back! {{user.username}}!</h1></center>
    <p> Check out these articles that we think you'll like!</p>
    
    {% endif %}
</div>

<h2 class="checkOut">Check out some HOT new articles</h2>
<div class="articleGrid">
    <div class="articleCard">
        {% load static %}
        <img src="{% static 'mariahStockPhoto.jpg' %}" alt="MariahStockPhoto" style="width:30%">
        <h1>Why Mariah Carey has been characterized as one of musics greatest divas</h1>
        <p> In this article ...</p>
    </div>

    <div class="articleCard">
        <img src="{% static 'britneyStockPhoto.jpg' %}" alt="BritneyStockPhoto" style="width:30%">
        <h1>The fall of a pop princess: How a Conversatorship killed her career</h1>
        <p> This article will ...</p>
    </div>

</div>
<h2> Check out some of our best rated songs! </h2>
<div class="reviewGrid">
    {% for song, reviews in reviews.items %}
    <div class="reviewCard">
        <h3> {{ song.title }}</h3>
        {% for review in reviews %}
        <i class="fa fa-star {% if song.avgReview > 0 %} checked {% endif %}" aria-hidden="true"></i>
        <i class="fa fa-star {% if song.avgReview > 1 %} checked {% endif %}" aria-hidden="true"></i>
        <i class="fa fa-star {% if song.avgReview > 2 %} checked {% endif %}" aria-hidden="true"></i>
        <i class="fa fa-star {% if song.avgReview > 3 %} checked {% endif %}" aria-hidden="true"></i>
        <i class="fa fa-star {% if song.avgReview > 4 %} checked {% endif %}" aria-hidden="true"></i>
        
        
        <p> {{ review.review }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<!-- Add creator button here with link 
 implement the creator database table -->
<div class="creatorButton">
    <p> Want to create your own articles?</p>
    <button><a href="http://127.0.0.1:8000/creatorLogin/"> Click Here!</a> </button>
</div>


{% endblock %}