{% extends "master.html" %}
{% load crispy_forms_tags %}
{% block title %}
Login 
{% endblock %}
{% block content %}
{% include "nav.html" %}

<div>
    <center>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy}}
            </fieldset>
            <center>
                <button type="submit">Login</button>
            </center>
            <br/>
            <sub>Don't have an account yet? <a href="{% url 'register' %}"Sign up</sub>
        </form>
    </center>
    
</div>

{% endblock %}