{% extends "master.html" %}

{% block title %}
Nav Bar
{% endblock %}

{% block content %}

<ul>
    
    
    {% if user.is_authenticated %}
    <li><a href="http://127.0.0.1:8000/home">Your HomePage</a></li>
    <li><a href="http://127.0.0.1:8000/profile"> Your Profile </a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="http://127.0.0.1:8000/logout">Logout</a></li>
    {% else %}
    <li><a href="http://127.0.0.1:8000">Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="http://127.0.0.1:8000/register">Register</a></li>
    <li><a href="http://127.0.0.1:8000/login">Login</a></li>
    {% endif %}

    
</ul>

{% endblock %}