{% extends "master.html" %}
{% block title %}
Sign Up 
{% endblock %}
{% block content %}
{% include "nav.html" %}

<div class="formDiv">
    
    <form method="POST">
        {% csrf_token %}
            <h2> Create your Account </h2>
            {{ form.as_p }}
            <div class="checkboxArea">
                <input type="checkbox" onclick="togglePassword()"> Show Password
            </div>
            
            <div class="btnonly">
                <button class="submitBtn" type="submit">Sign Up</button>
            </div>
            
            
        
        
    </form>
</div>
<script>
    function togglePassword() {
        var passField = document.getElementById("password");
        if (passField.type === "password") {
            passField.type = "text";
        }
        else {
            passField.type = "password";
        }
    }
</script>



<!--<form action="#" method="post">
   {% csrf_token %}
    <p>
        <label for="id_username">Create a Username: </label>
        <input type="text" name="username" maxlength="30" required="" id="id_username">
        </p>
        <p>
            <label for="id_email">Enter a valid Email: </label>
            <input type="email" required="" id="id_email">

        </p>
        <input type="submit" value="Submit">
    </p>
</form>-->

{% endblock %}