body { 
    background-color: #e5989b;
    margin: 0;
    padding: 0; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    background-color: #ffcdb2;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #b5838d;
}

.welcomeText{
    text-align: center;
}


.textDiv {
    text-align: center;
    font-size: 25px; 
    display: inline;
}

.checkOut {
    text-align: center;
    padding-top: 25px;
}

.formDiv {
    text-align: center;
    padding-top: 88px;
    justify-content: center;;
    display: flex;
    
}

.submitBtn {
    background-color: #d8e2dc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.formDiv input {
    margin: 10px;
    border: none; 
    box-sizing: border-box;
    padding-left: 15px;
}

.formDiv label {
    
    text-align: left;
    
}

.formDiv p {
    flex-direction: column;
    display: flex;
    align-items: center;
    

}

.formDiv form {
    flex-direction: column;
    display: fixed;
    padding: 20px;
    border: 2px solid #f08080;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    
    
}

.creatorButton {
    text-align: center;
    padding-top: 25px;
}

.creatorButton button {
    background-color: #98c9a3;
    color: black;
    padding: 15px 25px; 
    text-decoration: none; 
    display: inline-block;
    border: none; 
    border-radius: 8px;
}
 .articleGrid {
    display: flex;
    gap: 1rem;
    padding: 16px;
    flex-wrap: wrap;
        
}

.articleCard {
    box-shadow: 0 4px 8px 0 #d7b9d5;
    border-radius: 10px;
    display: flex;
    flex: 1; 
    flex-direction: column;
    padding: 16px;

}

.articleCard:hover {
    box-shadow: 0 8px 16px 0 #d7b9d5;
}


